package components

type LinkProps struct {
	Url      string
	Name     string
	Disabled bool
}

templ Link(props LinkProps) {
	<a
		href={ templ.SafeURL(props.Url) }
		class={
			"font-medium text-blue-600 dark:text-blue-500 hover:underline",
			templ.KV("pointer-events-none text-black/40 border-slate-100", props.Disabled),
		}
	>
		{ templ.EscapeString(props.Name) }
	</a>
}
