package pages

import "github.com/tomascarruco/ai2learn-bkend/web/ui/layouts"

templ indexPage() {
	<main
		class="bg-white rounded w-full p-6 border"
	>
		<!-- TODO: Mano, tipo, tou cansado e ainda tenho que fazer tudo -->
		<!-- TODO: New session, upload PDF, get PDF summary and chat with bot, at least.-->
		<!-- TODO: Store session token in a cookie -->
	</main>
}

templ IndexPage() {
	@layouts.BaseLayout(indexPage())
}
